---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  font: 18px/1.4 $font;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  width: 100%;
  margin-top: 3em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font;
  color: $darkerGray;

  line-height: 1.7;
  margin: 0 0 10px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
  font-size: 1.1rem;
  font-weight: 300;
  color: $black;
  line-height: 1.875;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $black;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.content {
  margin: 0 auto;
  padding: 27px;
  background: $white;
}

//
// .masthead
//
.wrapper-masthead {
  position: fixed;
  width: 100%;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 8px;
}

.masthead {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
  background: #fff;
}

.site-info {
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
}

.site-name {
  margin: 0 20px;
  color: $black;
  cursor: pointer;
  font-size: 27px;
  line-height: 27px;
  text-align: center;
}

.site-description {
  margin: 14px auto;
  color: $midGray;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
  font-family: $font;
  font-size: 12px;
  text-align: center;
  line-height: 25.5px;

  a {
    padding: 14px 0 14px;
    text-decoration: none;
    margin-right: 20px;
    color: $black;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
  margin-top: 40px;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .date {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    // margin: 0 0 30px;
    letter-spacing: 1px;
    color: $darkGray;
    text-align: center;
    
    span {
      margin: 0 0 30px;
    }

    .seperator {
      width: 15px;
      height: 1px;
      border-bottom: 1px solid $black;
    }
  }

  .dateline {
    font-size: 16px;
    font-weight: 300;
    color: $darkerGray;
  }

  .read-more {
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    padding: 16px;
    background: $black;
    color: #fff;
    border-radius: 3px;
  }
}

.title, .full-title {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  color: $black;
}
.full-title {
  text-align: center;
  margin-bottom: 30px;
}
.entry {
  font-size: 100%;
  color: $gray;
  margin-bottom: 30px;
}


.wrapper-footer {
  margin-top: 50px;
  border-top: 3px solid $lightGray;
}

footer {
  padding: 20px 0 0 0;
  text-align: center;
}

@media(min-width: 875px) {
  .content {
    max-width: 872px;
    padding: 54px 108px;
  }
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
