
//
// VARIABLES
//

// Colors
$blue: #1c7c7c;
$green: #c9dcc6;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$midGray: #999;
$lightGray: #eee;
$white: #fff;

// Font stacks
$slab: 'Roboto Slab', Georgia, Times, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}